.video-item{
  display: flex !important;
  align-items: center !important;
  curser: pointer;
  /*margin-left: -5px !important;*/
}
.ui.segment:first-child{
  margin-top: 1rem;
}
.ui.segment:last-child {
    margin-bottom: 1rem;
}

.result {
  /*border: 1px solid;*/
  box-shadow: none !important;
}
